<% provide(:title, 'All users') %>
<h1>All users</h1>

<ul class="users">
  <% @users.each do |user| %>
    <li>
      <%= link_to user.name, user %>
      <%if current_user.admin? && !current_user?(user)%>
      | <%= link_to "delete", user, method: :delete,data: {confirm: "You sure?"}%>
      <%end%>
      
     
    </li>
  <% end %>
</ul>